@charset "UTF-8";

/*Em HTML id == # em CSS (só pode um elemento)
  Em HTML class == . em CSS (pode vários elementos)*/

body {
    background-color: rgb(153, 187, 251);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

#principal {
    text-align: center;
    background-color: blue;
    color: white;
}

h2 {
    color: darkblue;
}

.basico {
    color: darkorange;
    font-weight: bold;
}

.intermediario {
    color: darkgreen;
}

.avancado {
    color: darkred;
}

.destaque {
    background-color: #b8b82b63;
}