@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #45C4B0, #DAFDBA);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgba(114, 114, 114, 0.658);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #13678A;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2 {
    color: #1277aa;
}

p {
    text-align: justify;
}